<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
</head>
<body>
    <h1>Job Scrapper</h1>
    <h4>무슨 직업을 원하시나요?</h4>
    <form action="/search">
        <input type="text" name="keyword" placeholder="스킬을 검색해주세요." />
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    <script src="https://kit.fontawesome.com/0753527c6f.js" crossorigin="anonymous"></script>
</body>
</html>